<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="Version" value="1.4"/>
		<add key="MerchantCode" value="GIVEPLEASENO3DSGD"/>
		<add key="Username" value="GIVEPLEASENO3DSGD"/>
		<add key="Password" value="D@>@\0?@r#$30"/>
		<add key ="TestUrl" value ="https://secure-test.worldpay.com/jsp/merchant/xml/paymentService.jsp"/>
		
	</appSettings>
</configuration>